.App {
  padding: 5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%
}

.game {
  max-width: 25rem;
  flex: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bg-guess-green {
  background: #6aaa64;
}

.bg-guess-yellow {
  background: #c9b458;
}

.bg-guess-grey {
  background: grey;
}
